body {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  color: #b2bbff;
}
a:hover {
  color: #b2dbff;
}
iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
}
h1,
h2,
h3 {
  font-family: 'Orbitron', sans-serif;
  line-height: 1em;
}
img {
  width: 100%;
  height: auto;
}
#wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  background: url('../img/star-bg.jpg') no-repeat;
  background-color: #111;
  background-size: cover;
  font-size: 0.3em;
}
.bg {
  background: url('../img/blue-bg.png') repeat;
}
#intro {
  width: 40%;
  min-width: 500px;
  margin: 0 auto;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  z-index: 1000;
  position: relative;
  text-align: center;
}
#intro h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  position: relative;
  z-index: 2;
}
#intro p {
  font-style: italic;
  position: relative;
  z-index: 2;
  font-size: 0.6em;
  line-height: 1.2em;
}
#intro span {
  position: relative;
  z-index: 2;
  font-size: 0.3em;
}
.planet {
  position: absolute;
  cursor: pointer;
  z-index: 900;
}
.planet .info {
  width: 330px;
  padding: 20px;
  font-size: 0.6em;
  display: none;
}
.planet .info .title {
  font-weight: bold;
  margin-bottom: 11px;
}
.planet .info .details {
  font-style: italic;
  font-size: 0.7em;
  line-height: 1.5em;
}
#dev {
  top: 5%;
  left: 2%;
  width: 11%;
  padding-bottom: 11%;
  height: 0;
  background: url(../img/dev-planet.png) no-repeat;
  background-size: 100%;
}
#dev .info {
  position: absolute;
  left: 110%;
  top: 27%;
}
#dev .info p {
  position: relative;
  z-index: 2;
}
#actor {
  top: 74%;
  left: 15%;
  width: 5%;
  padding-bottom: 5%;
  height: 0;
  background: url(../img/actor-planet.png) no-repeat;
  background-size: 100%;
}
#actor .info {
  position: absolute;
  left: 110%;
  top: 3%;
}
#actor .info p {
  position: relative;
  z-index: 2;
}
#writer {
  top: 12%;
  left: 78%;
  width: 19%;
  padding-bottom: 19%;
  height: 0;
  background: url(../img/writer-planet.png) no-repeat;
  background-size: 100%;
}
#writer .info {
  position: absolute;
  right: 107%;
  top: 27%;
}
#writer .info p {
  position: relative;
  z-index: 2;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#contact {
  top: 83%;
  left: 88%;
  width: 7%;
  padding-bottom: 7%;
  height: 0;
  background: url(../img/satellite.png) no-repeat;
  background-size: 100%;
  font-size: 0.3em;
}
#contact .info {
  position: absolute;
  right: 110%;
  top: 1%;
}
#contact .info p {
  position: relative;
  z-index: 2;
}
#contact .info #contact-form {
  position: relative;
  z-index: 2;
  font-size: 0.7em;
  margin-top: 10px;
  display: none;
}
#contact .info #contact-form div {
  margin-bottom: 3px;
}
#contact .info #contact-form div .heading {
  text-align: right;
  width: 30%;
  float: left;
}
#contact .info #contact-form div .input {
  width: 65%;
  float: left;
  margin-left: 5%;
}
#contact .info #contact-form div .input input {
  width: 100%;
}
#contact .info #contact-form div .input textarea {
  width: 99%;
}
#contact .info #contact-form .submit {
  clear: left;
  float: right;
  margin-right: 5px;
}
#contact .info #contact-form button {
  float: right;
}
#contact .info.form-open {
  top: -100%;
}
#contact .info.form-open #contact-form {
  display: block;
}
#rocket {
  position: absolute;
  bottom: 5%;
  width: 100px;
  left: 49%;
  height: 185px;
  transform-origin: center center;
  z-index: 999;
}
#rocket #rocket-img {
  position: relative;
  width: 100px;
  height: 185px;
  top: 0%;
  left: 0px;
  background: url(../img/serenity.png) no-repeat;
  background-size: 200%;
  background-position: 100% 0%;
  z-index: 2;
  user-select: none;
}
#rocket #rocket-img.glow {
  background-position: 0% 0;
}
#rocket #flames {
  position: absolute;
  display: none;
  background: url('../img/flame-sprite.png') no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#pane {
  width: 50%;
  height: 78%;
  position: relative;
  top: 10%;
  margin: 0 auto;
  display: none;
  z-index: 1000;
  min-width: 960px;
  font-size: 0.3em;
  cursor: move;
}
.content {
  position: relative;
  z-index: 2;
  font-size: 0.5em;
}
.content h2 {
  font-size: 2em;
  margin-bottom: 1%;
  padding: 1%;
  background: url(../img/blue-bg.png);
}
.content h3 {
  font-size: 1.5em;
  padding: 0 0 2%;
}
.content h3 span {
  width: 100%;
  height: 1px;
  background: #fff;
  display: block;
  margin-top: 1%;
}
.content p {
  font-size: 0.8em;
  line-height: 1.3em;
}
.content section {
  background: url(../img/blue-bg.png);
  width: 100%;
  margin-bottom: 2%;
}
.content section .section-inner {
  padding: 2%;
}
.content section ul {
  list-style-type: square;
  font-size: 0.8em;
}
.content section ul li {
  margin: 6px 0px 1px 29px;
  font-size: 0.9em;
  line-height: 1.4em;
}
.content .two-col .col-one {
  float: left;
  width: 49.5%;
}
.content .two-col .col-two {
  float: right;
  width: 49.5%;
}
.content .two-col section {
  background: url(../img/blue-bg.png);
  width: 100%;
  margin-bottom: 2%;
}
.content .two-col section .section-inner {
  padding: 2%;
}
.content .two-col section ul {
  list-style-type: square;
  font-size: 0.8em;
}
.content .two-col section ul li {
  margin: 6px 0px 1px 29px;
  font-size: 0.9em;
}
.content .dev-container img {
  width: 100%;
  margin: 5px 0;
}
.content .writer-container .holder {
  width: 100%;
  height: auto;
  margin-bottom: 1%;
  position: relative;
}
.content .writer-container .headshot {
  float: left;
  width: 30%;
  margin: 0;
}
.content .writer-container .bio {
  position: absolute;
  width: 69%;
  right: 0%;
  height: 100%;
  margin: 0;
}
.content .writer-container .bio p {
  line-height: 1.5em;
}
.content .writer-container #awards ul {
  list-style-type: square;
}
.content .writer-container #awards ul li {
  font-size: 0.9em;
  line-height: 1.5em;
}
.content .actor-container .holder {
  width: 100%;
  height: auto;
  margin-bottom: 1%;
  position: relative;
}
.content .actor-container .headshots {
  float: left;
  width: 55%;
  margin: 0;
}
.content .actor-container .headshots img {
  width: 49%;
  float: left;
}
.content .actor-container .headshots #commercial {
  margin-left: 1%;
  float: right;
}
.content .actor-container .bio {
  position: absolute;
  right: 0;
  margin: 0;
  height: 100%;
  width: 44%;
}
.content .actor-container .bio p {
  padding: 1%;
}
.content .actor-container #reel {
  clear: both;
}
.content .actor-container h3 {
  padding: 0 0 1% 0;
}
.clr {
  clear: both;
}
form .error {
  outline: 1px solid #FF0000;
}
.form-errors {
  background: #ff0000;
  padding: 2px;
  text-align: center;
  margin-bottom: 9px;
  display: none;
}
.thank-you {
  font-size: 1.2em;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  display: none;
  position: relative;
}
#debug {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 0.2em;
  z-index: 1000;
}
#control {
  position: absolute;
  top: 30%;
  left: 0%;
  font-size: 0.15em;
  z-index: 1000;
}
#focus {
  position: relative;
  top: 0;
  width: 10px;
  height: 10px;
  background: #ff0000;
  margin: 0 auto;
  z-index: 3;
}
.waypoint {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  opacity: 0.5;
  z-index: 1100;
}
.line {
  position: absolute;
  height: 3px;
  background: #FF0000;
}
