body {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Raleway', sans-serif;
  background: url('../img/star-bg.jpg') no-repeat;
  background-color: #111;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
a:hover {
  color: #b2dbff;
}
iframe {
  display: block;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-family: 'Orbitron', sans-serif;
  line-height: 1em;
  letter-spacing: 1px;
}
img {
  width: 100%;
  height: auto;
}
#wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  font-size: 0.3em;
}
.bg {
  background: url('../img/blue-bg.png') repeat;
}
#intro {
  width: 40%;
  min-width: 600px;
  margin: 0 auto;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  z-index: 1000;
  position: relative;
  text-align: center;
}
#intro h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  position: relative;
  z-index: 2;
}
#intro p {
  font-style: italic;
  position: relative;
  z-index: 2;
  font-size: 1.1em;
  line-height: 1.2em;
}
#intro span {
  font-size: 12px;
}
.planet-holder {
  position: absolute;
  cursor: pointer;
  z-index: 900;
}
.planet-holder .slide-out {
  position: absolute;
  background: url('../img/slide-out.png') no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
  display: none;
}
.planet-holder .slide-out .info {
  width: 75%;
  padding: 13% 13%;
  font-size: 0.6em;
  height: 60%;
}
.planet-holder .slide-out .info .title {
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
}
.planet-holder .slide-out .info .details {
  font-size: 0.7em;
  line-height: 1.5em;
  margin-top: 4%;
}
.planet-holder .planet {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
#dev {
  top: 6%;
  left: 4%;
  width: 11%;
  padding-bottom: 11%;
  height: 0;
}
#dev .slide-out {
  width: 190%;
  height: 103%;
  top: 2%;
  left: 85.5%;
}
#dev .slide-out .info {
  position: absolute;
  padding: 13% 17%;
  width: 72%;
}
#dev .planet {
  background: url(../img/dev-planet.png) no-repeat;
  background-size: 100%;
}
#actor {
  top: 70%;
  left: 12%;
  width: 10%;
  padding-bottom: 10%;
  height: 0;
}
#actor .slide-out {
  width: 190%;
  height: 103%;
  top: 2%;
  left: 85.5%;
}
#actor .slide-out .info {
  position: absolute;
  padding: 13% 17%;
  width: 72%;
}
#actor .planet {
  background: url(../img/actor-planet.png) no-repeat;
  background-size: 100%;
}
#writer {
  top: 12%;
  left: 78%;
  width: 19%;
  padding-bottom: 19%;
  height: 0;
}
#writer .slide-out {
  transform: rotateY(-180deg);
  right: 95%;
  width: 113%;
  top: 18%;
  height: 0;
  padding-bottom: 57%;
}
#writer .slide-out .info {
  position: absolute;
  transform: rotateY(180deg);
}
#writer .planet {
  background: url(../img/writer-planet.png) no-repeat;
  background-size: 100%;
}
#contact {
  top: 83%;
  left: 88%;
  width: 7%;
  padding-bottom: 7%;
  height: 0;
  background: url(../img/satellite.png) no-repeat;
  background-size: 100%;
  font-size: 0.3em;
  z-index: 1000;
}
#contact .slide-out {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: none;
}
#contact .slide-out .info {
  position: absolute;
  right: 110%;
  bottom: 0;
  width: 330px;
  height: auto;
}
#contact .slide-out .info .title {
  font-size: 18px;
}
#contact .slide-out .info .details {
  font-size: 12px;
}
#contact .slide-out .info #contact-form {
  position: relative;
  z-index: 2;
  font-size: 12px;
  margin-top: 10px;
  display: none;
}
#contact .slide-out .info #contact-form div {
  margin-bottom: 3px;
}
#contact .slide-out .info #contact-form div .heading {
  text-align: right;
  width: 30%;
  float: left;
}
#contact .slide-out .info #contact-form div .input {
  width: 65%;
  float: left;
  margin-left: 5%;
}
#contact .slide-out .info #contact-form div .input input {
  width: 100%;
}
#contact .slide-out .info #contact-form div .input textarea {
  width: 99%;
}
#contact .slide-out .info #contact-form .submit {
  clear: left;
  float: right;
  margin-right: 5px;
}
#contact .slide-out .info #contact-form button {
  float: right;
}
#contact .slide-out .info.form-open #contact-form {
  display: block;
}
.glyph {
  position: absolute;
  width: 125%;
  height: 125%;
  left: -12.5%;
  top: -13%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2;
}
.glyph img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.glyph.c2 {
  transform: rotate(150deg);
}
#rocket {
  position: absolute;
  bottom: 5%;
  width: 100px;
  left: 49%;
  height: 185px;
  transform-origin: center center;
  z-index: 999;
}
#rocket #rocket-img {
  position: relative;
  width: 100px;
  height: 185px;
  top: 0%;
  left: 0px;
  background: url(../img/serenity.png) no-repeat;
  background-size: 200%;
  background-position: 100% 0%;
  z-index: 2;
  user-select: none;
}
#rocket #rocket-img.glow {
  background-position: 0% 0;
}
#rocket #flames {
  position: absolute;
  display: none;
  background: url('../img/flame-sprite.png') no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#pane {
  width: 50%;
  height: 78%;
  position: relative;
  top: 5%;
  margin: 0 auto;
  display: none;
  z-index: 1000;
  min-width: 960px;
  font-size: 0.3em;
}
#scroll {
  left: 101%;
  width: 20px;
  position: absolute;
  top: 0%;
}
#scroll #scroll-line {
  position: absolute;
  top: 0;
  width: 5px;
  left: 7.5px;
  background: #2e57d4;
  height: 100%;
  opacity: 0.5;
}
#scroll #scroll-bar {
  width: 20px;
  height: 30px;
  position: absolute;
  top: 0;
  background-color: #2e57d4;
  opacity: 0.7;
}
.content {
  position: relative;
  z-index: 2;
  font-size: 0.5em;
}
.content .header {
  background: url(../img/blue-bg.png);
}
.content .header h2 {
  font-size: 2em;
  margin-bottom: 1%;
  padding: 1%;
}
.content .header .backToSpace {
  position: absolute;
  top: 16px;
  right: 3%;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}
.content .header .backToSpace span {
  font-size: 0.7em;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0 3px;
}
.content .header .backToSpace:hover {
  color: #95a8e8;
}
.content h3 {
  font-size: 1.5em;
  padding: 0 0 2%;
}
.content h3 span {
  width: 100%;
  height: 1px;
  background: #fff;
  display: block;
  margin-top: 1%;
}
.content p {
  font-size: 1em;
  line-height: 1.4em;
}
.content section {
  background: url(../img/blue-bg.png);
  width: 100%;
  margin-bottom: 2%;
}
.content section .section-inner {
  padding: 2%;
}
.content section ul {
  list-style-type: square;
  font-size: 0.8em;
}
.content section ul li {
  margin: 6px 0px 1px 29px;
  font-size: 0.9em;
  line-height: 1.4em;
}
.content .two-col .col-one {
  float: left;
  width: 49.5%;
}
.content .two-col .col-two {
  float: right;
  width: 49.5%;
}
.content .two-col section {
  background: url(../img/blue-bg.png);
  width: 100%;
  margin-bottom: 2%;
}
.content .two-col section .section-inner {
  padding: 2%;
}
.content .two-col section ul {
  list-style-type: square;
  font-size: 0.8em;
}
.content .two-col section ul li {
  margin: 6px 0px 1px 29px;
  font-size: 0.9em;
}
.content .dev-container {
  position: relative;
  height: auto;
}
.content .dev-container img {
  width: 100%;
  margin: 5px 0;
}
.content .dev-container .about-me {
  font-size: 1.3em;
}
.content .writer-container .holder {
  width: 100%;
  height: auto;
  margin-bottom: 1%;
  position: relative;
}
.content .writer-container .headshot {
  float: left;
  width: 30%;
  margin: 0;
}
.content .writer-container .bio {
  position: absolute;
  width: 69%;
  right: 0%;
  height: 100%;
  margin: 0;
}
.content .writer-container .bio p {
  line-height: 1.5em;
}
.content .writer-container #awards ul {
  list-style-type: square;
}
.content .writer-container #awards ul li {
  font-size: 0.9em;
  line-height: 1.5em;
}
.content .actor-container {
  position: relative;
}
.content .actor-container .holder {
  width: 100%;
  height: auto;
  margin-bottom: 1%;
  position: relative;
}
.content .actor-container .headshots {
  float: left;
  width: 55%;
  margin: 0;
}
.content .actor-container .headshots img {
  width: 49%;
  float: left;
}
.content .actor-container .headshots #commercial {
  margin-left: 1%;
  float: right;
}
.content .actor-container .bio {
  position: absolute;
  right: 0;
  margin: 0;
  height: 100%;
  width: 44%;
}
.content .actor-container .bio p {
  padding: 1%;
}
.content .actor-container #reel {
  clear: both;
}
.content .actor-container h3 {
  padding: 0 0 1% 0;
}
.clr {
  clear: both;
}
form .error {
  outline: 1px solid #FF0000;
}
.form-errors {
  background: #ff0000;
  padding: 2px;
  text-align: center;
  margin-bottom: 9px;
  display: none;
}
.thank-you {
  font-size: 1.2em;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  display: none;
  position: relative;
}
#debug {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 0.2em;
  z-index: 1000;
}
#control {
  position: absolute;
  top: 30%;
  left: 0%;
  font-size: 0.15em;
  z-index: 1000;
}
#focus {
  position: relative;
  top: 0;
  width: 10px;
  height: 10px;
  background: #ff0000;
  margin: 0 auto;
  z-index: 3;
}
.waypoint {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  opacity: 0.5;
  z-index: 1100;
}
.line {
  position: absolute;
  height: 3px;
  background: #FF0000;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#overlay {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.6;
  z-index: 1000;
  display: none;
}
#menu-bar {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 20px;
  background: #444;
  color: #AAA;
  z-index: 1001;
  font-family: 'Orbitron';
  text-transform: uppercase;
}
#menu-bar a {
  font-weight: normal;
}
#menu-bar #nav {
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  width: 200px;
  font-size: 19px;
  height: 40px;
}
#menu-bar #nav #nav-btn {
  height: 40px;
  width: 178px;
  background: #444;
  border-top-right-radius: 102px;
  padding: 12px 11px 0px;
  font-size: 1em;
  z-index: 5;
  position: absolute;
}
#menu-bar #nav #nav-btn:hover {
  color: #FFF;
}
#menu-bar #nav:hover #menu {
  display: block;
}
#menu-bar #menu {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 171px;
  height: 88px;
  background: #222;
  z-index: 4;
  font-size: 1em;
  line-height: 1.4em;
  padding: 10px 9px 20px;
}
#menu-bar #menu ul {
  list-style: none;
}
