@media screen and (max-width:576px){
  body{
  }
  section{
    width:90%;
  }
  .question{
    text-align: center;
  }
  h1 {
    .grey{
      line-height: 1em;
    }
  }
  #social {
    ul li a:hover{

      img{
        object-position: top;
        transform:none;
      }
    }
  }
  #about-me{
    display: block;
    #photo{
      width: 100%;
      display: block;
      position: relative;
    }
    .bio{
      margin-top:20px;
      width: 100%;
      margin-left: 0;

    }
  }
  #skills{
    ul li{
      font-size: 12px;
    }
  }
  #portfolio{
    .item{
      flex-basis: 100%;
      transition: all 0.5s;
      transform:translate(0,100%);
      opacity: 0;
      .info{
        display: none;
      }
      &:hover{
        transform:none;
      }
    }
  }
  section:last-of-type{
    text-align: center;
  }
}
