body, html
{
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    /*
    width: 1092px;
    */
    margin: 0 auto;
}
#frame 
{
    background: url(../images/clear.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5001;
}
#main {
    height: 93.1%;
    overflow: hidden;
    position: relative;
    width: 94.79166666666667%;
	margin-left: 2.6%;
	margin-top: 2.6%;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}
#section1 div.content img 
{
    width: 100%;
}
#verticalScrollArea {
    position: absolute;
    width: 100%;
	height:100%;
}
img {
width:100%;
}
div.section {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
	height:100%;
	line-height: 0px;
    margin-top: -1px;
}

#section1 
{
    top: 0;
}
#section1 div.background {
    width: 100%;
}
#section1 div.content 
{
   position: absolute;
   top: 76%;
   width: 27.6557%;
   padding-left: 6.3%;
}

#section2 {
    background-color: #000;
    overflow: visible;
}

#section2 div.content, #section3 div.content, #section4 div.content, #section5 div.content {
    bottom: 0;
    height: 100%;
    position: absolute;
    width: 100%;
}
#section2 div.orange {
    background-color: #C12B03;
    border-bottom: 1px solid #B92903;
    border-top: 1px solid #B92903;
    height: 28.3581%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
#section3 {
    z-index: 6;
    background-color: #000;
}

#section3 div#dots {
    background: url(../images/meter-dots.jpg) no-repeat center left;
    margin-left: 26.5568%;
    top: 54%;
    padding-top: 7.6%;
    position: absolute;
    width: 20%;
    background-size: auto 100%;
}

#section3 div#meter {
    background: url(../images/rev-meter-text.png) no-repeat center top;
    background-size:  100% auto;
    bottom: 0;
    margin-left: 6.31868%;
    margin-top: -104px;
    position: absolute;
    text-align: right;
    width: 37.0879%;
    z-index: 5;
}
#section3 div#meter img
{
    margin-left: 30px;
    opacity: 0;
    padding-top: 30%;
    width: 85.4321%;
}
#section4 {
    z-index: 4;
    background-color: #000;
}
.background img {
width: 100%;
}

#section5 {
    z-index: 3;
    background-color: #000;
}

.separator 
{
    background: url(../images/red-block.gif) repeat-x;
    height: 241px;
    width: 100%;    
    bottom: 0;
}

/************************* Text ***********************************/
div#interior  
{
    width: 605px;
    height: 149px;
    background: url(../images/interior-header-text.png) no-repeat;    
    position: absolute;
    bottom: 280px;
    margin-left: 75px;
}
div#dial {
    background: url(../images/gears.png) no-repeat;
    margin-left: 37.27%;
    margin-top: -33.418%;
    opacity: 0.1;
    position: absolute;
    width: 56.1355311%;
    padding-top: 100%;
    z-index: 1000;
    background-size: 100%;
}
#section2 div#shifter {

    bottom: -100px;
    position: absolute;
    width: 73.9927%;
    z-index: 3;
}
#section2 div#gratification {
    right: 0;
    height: 192px;
    margin-right: 7.326%;
    margin-top: 0;
    position: absolute;
    width: 37.087912%;
    z-index: 1;
    opacity: 0;
}
#section2 div#gratification img 
{
    width: 100%;
}

#section2 div#gratification div.text {
    background: url(../images/shifter-text.png) no-repeat;
    background-size: 100%;
    height: 200px;
    margin-left: 31.1382%;
    width: 64.7%;
    z-index: 0;
    opacity: 0;
}

#section4 div#power {
    background: url(../images/power-up-text.png) no-repeat;
    padding-top: 5.9601%;
    margin: 9.95% 0 0 69.6666666%;
    position: absolute;
    text-align: left;
    width: 21.6264%;
    z-index: 5;
    background-size: 100%;
}
#section4 div#power img {
    /*bottom: -60px;*/
    opacity: 1;
    position: relative;
    width: 100%;
}

#section4 div#bar {
   
    overflow:hidden;
    top: 48.35%;
left: 24.7%;
position: absolute;
width: 38.5%;
height: 5%;
}
@-moz-document url-prefix() { 
  #section4 div#bar {
	top: 48.5%;	
  }
}
.empty{
position:absolute;
top:0%;
left:0%;
}
#inner {
left: -94.64%;
position: relative;
}
 ::i-block-chrome,#section4 div#bar {
     height: 5.1%;
	top: 48.5%;
    }
	
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	#section4 div#bar {
		top: 48.5%;
	}
}
#section5 div#pedal {
background: url("../images/pedal-text.png") no-repeat left top;
background-size: 94.24% auto;
margin: 0 0 0 18.57875%;
opacity: 1;
padding: 11.058% 0 0 2.9245%;
position: absolute;
text-align: left;
width: 49.28571%;
z-index: 5;
text-align: right;
}
#section5 div#pedal img {

    opacity: 1;
    position: relative;
    width: 81.177%;
}

#section5 div#f1cues {
    background: url(../images/f1cues.png) no-repeat;
    bottom: -265px;
    float: left;
    height: 265px;
    margin: auto 0 0 100px;
    position: absolute;
    width: 579px;
}
#verticalScrollArea .inner {
    overflow: hidden;
;
}
#section5 div.dots {
    height: 56.9003%;
	opacity: 1;
	position: absolute;
	width: 48.5%;
	background-size: 100%;
	top: 8.273421%;
	left: 24.584249%;
}
#section5 div#pedaldots1 
{
    background: url(../images/pedal-dots-1.png) no-repeat;
    background-size: 100%;
}
#section5 div#pedaldots2
{
    background: url(../images/pedal-dots-2.png) no-repeat;
    background-size: 100%;
}
#section5 div#pedaldots3 
{
    background: url(../images/pedal-dots-3.png) no-repeat;
    background-size: 100%;
}

/************************* scroll bar *****************************/
#scrollBar {
    background-color: #3C3C3C;
    position: fixed;
    right: 0;
    top: 0;
    width: 16px;
    z-index: 2500;
    height: 100%;
}
.thumb {
    background: url(../images/scrollbar_handle.png) repeat;
    height: 37px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2500;
    width: 100%;
    cursor: pointer;
}

#scrolldiv {
    color: #000000;
    height: 9295px;
    margin: auto;
    width: 600px;
}

#container {
    height: 100%;
    left: 0;
    margin: 0 auto;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 1148px; /*120%;*/
    z-index: 6000;
}
/*************************** arrows ********************************/

#instructions {
    background: url(../images/down-arrow.png) no-repeat;
    bottom: 0;
    cursor: pointer;
    height: 50px;
    margin: 40px;
    position: absolute;
    right: 0;
    width: 51px;
    z-index: 5002;
}
#scrollto {
    background-color: #FFFFFF;
    color: #000000;
    height: auto;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    top: 200px;
    width: 200px;
    display: none;
}
	#slider {
			position:absolute;
			width: 5%;
			right: 3%;
			height: 73%;
			z-index: 9999;
			top: 12%;
		}
		#slider-ctrl {
			width:65%;
			height: 6.7%;
			position: absolute;
			right: 14%;
			display: block;
			z-index: 4;
			cursor: pointer;
		}
		#slider-ctrl img {
			width:100%;
		}
		#track {
			background:#fefefe;
			position: absolute;
			height: 100%;
			width: 18%;
			right: 37%;
			top:2.5%;
			z-index: 3;
			bottom:2.5%;
			border-radius:5px;
            opacity: .75;
		}
		#scroll-cta {
			position:absolute;
			top: 80%;
			width: 14%;
			left: 42%;
			z-index: 10;
		}